/* styles.css */

/* Add @font-face for custom font */
@font-face {
    font-family: 'MesloLGS-NF-Bold';
    src: url('https://raw.githubusercontent.com/aut0r3/autore.sh/main/MesloLGS-NF-Bold.ttf') format('truetype'); /* Path to your font file on GitHub */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'MesloLGS-NF-Bold', Arial, sans-serif; /* Use the custom font */
    background-color: #111111;
    color: #ff2e2e;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-column: 1 / span 8;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100px; /* Set a height for the header */
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 2rem; /* Adjust margin for spacing */
}

nav ul li a {
    color: #ff2e2e;
    text-decoration: none;
    font-family: 'MesloLGS-NF-Bold', monospace; /* Ensure this is set correctly */
    font-size: 1.2rem;
    text-transform: uppercase; /* Make text uppercase */
}

main {
    grid-column: 1 / span 8;
}

.content {
   text-align:center;
   display:flex;
   flex-direction:center;
   justify-content:center;
   align-items:center;
   height:auto; 
   padding-top:auto; 
}

footer {
   grid-column: 1 / span 8; 
   text-align:center; 
   padding-top:auto; 
}

/* Responsive styles */
@media (max-width:768px) {
   header {flex-direction=column;}
}
